{% extends "SamplesCibercafeBundle::layout.html.twig" %}

{% block title %}Cibercafé{% endblock %}

{% block content_center%}

<div style="text-align: center;">
    <h1>Bienvenidos a nuestro Ciber Café</h1>
</div>
{% endblock %}
