<table class="table table-bordered table-hover table-responsive table-condensed table-striped">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ object.country | country }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ object.website }}</td>
        </tr>
    </tbody>
</table>