<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ object.country }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ object.website }}</td>
        </tr>
    </tbody>
</table>