{% extends "SamplesProgramadoresBundle::base.html.twig" %}{#% set code = code(_self) %#}

{% block title %}Ejemplo con Datos estáticos{% endblock %}

{% block content%}

<table class="table table-bordered table-hover table-striped">
    <caption>
        <div class="navbar-inner" style="margin-bottom: 15px;"> <h2>Ejemplo de Datos en Tabla Estática</h2>
        </div>
    </caption>
    <thead>
        <th>NOMBRE</th>
        <th>EDAD</th>
    </thead>
<tbody>
    <tr>
        <td>Pepe</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Ana</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Pepe</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Ana</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Pepe</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Ana</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Pepe</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Ana</td>
        <td>18</td>
    </tr>
</tbody>
</table>
{% endblock %}
