{% extends 'SamplesProgramadoresBundle::base.html.twig' %}{#% set code = code(_self) %#}

{% block title %}Bienvenidos al curso de Symfony 2{% endblock %}

{% block content%}

<div class="nav navbar-inner">
    <h3>Bienvenidos al Curso Demostrativo de Symfony 2</h3>
</div>
<div style="text-align: justify; padding-left: 15px;">
<h4>DESARROLLO WEB AVANZADO CON SYMFONY 2 FRAMEWORK</h4> 
<p><strong>1 - Introducción a Desarrollo Web con frameworks.</strong></p>
<p>Características y uso de los Frameworks Symfony 2 (framework de aplicación), Doctrine ORM (framework acceso a datos), Twig (framework de plantillas), jQuery (framework javascript), Twitter-Boostrap (framework css). Instalación y Configuración del Entorno de Desarrollo con XAMPP( Apache Web Server + MySQL Database Server + PHP), Netbeans para PHP (IDE), Mozilla Firefox + extensiones (Browser+Debugger), Notepad++ (Editor de Texto). Creación, configuración y funcionamiento de nuestro primer proyecto en Symfony2. Asignación de Casos de Estudios (proyectos de tarea).</p>
<p><strong>2 - Trabajo con Bases de Datos en Symfony2 y Doctrine ORM</strong></p>
<p>Exposición de Diseños del Modelo de Datos de algunos Casos de Estudio seleccionados y discusión de buenas prácticas en los diseños. Configuración de Symfony para el trabajo con bases de datos. Ejecución de consultas SQL para la obtención, inserción, modificación y eliminación de información. Programación Orientada a Objetos para el acceso a Bases de Datos relacionales. Uso de Doctrine ORM y el mapeo de clases y sus relaciones. Lenguaje DQL para consultas orientadas al modelo de objetos. Trabajo con Repositorios de Clases para el trabajo con Doctrine ORM.</p>
<p><strong>3 - Trabajo con formularios y manejo de peticiones en Symfony 2.</strong></p>
<p>Trabajo con rutas en Symfony 2. Creación de páginas html con Twig. Creación manual de formularios y acceso a los datos enviados a través del objeto Request. Creación y trabajo con formularios dinámicos combinados con Twig. Creación automática de funcionalidades CRUD con Doctrine + Twig.</p>
<p><strong>4 - Manejo de plantillas con Twig y Twitter-Boostrap</strong></p>
<p>Maquetación de nuestro sitio con Twig. Uso y gestión de bloques e las plantillas. Herencia a tres niveles de plantillas. Uso de estándar css para personalizar el estilo de nuestro sistema. Uso de frameworks y plantillas css para personalizar el diseño del sistema.</p>
<p><strong>5 - Manejo de Seguridad con Symfony 2</strong></p>
<p>Configuración del mecanismo de seguridad con Symfny 2. Gestión de Usuarios y Roles en la aplicación. Creando el frontend y el backend de nuestra aplicación. Análisis de los Casos de Estudio.</p>
<p><strong>6 - Validaciones en el cliente y en el servidor</strong></p>
<p>Validación del lado del servidor con Anotaciones de Doctrine y los Asserts de Symfony 2. Validaciones del lado del cliente con HTML5 y Javascript. Manejo y validaciones de interfaces HTML con jQuery + plugins. Uso de Ajax + JSON para crear aplicaciones con alto nivel de interactividad.</p>
<p><strong>7 - Trabajo con Bundles de terceros en Symfony 2.</strong></p>
<p>Configuración y uso de FOSUserBundle para la gestión de Usuarios, Roles y Seguridad del sistema. Configuración y uso de SonataAdminBundle para crear un panel de Administración basado en Doctrine. Configuración y uso de IdeupSimplePaginatorBundle para la obtención de tablas paginadas. Configuración y uso de LexikFormFilterBundle para crear formularios de búsqueda y filtros.</p>
<p><strong>8 - Evaluación final del curso</strong></p>
<p>Revisión y Exposición de los Proyectos de los Casos de Estudio asignados para la evaluación final del curso.</p>
</div>
{% endblock %}