<!--
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <ul class="nav nav-pills" id="main-menu-options">
          <li class="active"><a href="{{path('_app_listado_usuarios_asociados')}}">Listado 1</a></li>
          <li><a href="#">Option 1</a></li>
          <li><a href="#">Option 3</a></li>
          <li><a href="#">Option 4</a></li>
        </ul>
    {% endif %}
</div>
-->