<ul class="nav">
    <li class="" id="main-menu-link-home">
        <a href="/">Inicio</a>
    </li>
</ul>
<!--
<form class="navbar-search pull-left">
    <input type="text" placeholder="buscar" class="search-query">
</form>
-->